.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .c-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.top {
  margin-bottom: 3rem;
}

.wrapper {
  width: 80%;
  padding: 13px;
  margin-bottom: 10px;
  background: #d6d6d6a1;
}
hr {
  color: #fff;
}

.details {
  p {
    margin: 0;
  }

  * {
    * {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3px;
      padding-right: 25px;
      border: 1px solid rgb(94, 82, 82);
      border-right: none;
      color: rgb(39, 37, 37);

      * {
        border: none;
      }
    }
  }
}

.sec-two {
  :nth-child(1) {
    border-right: none;
  }
  :nth-child(2) {
    border-left: none;
  }
}

.sec-three {
  :nth-child(1) {
    border-right: none;
  }
  :nth-child(2) {
    border-left: none;
  }
}

.sec-four {
  border-right: 1px solid rgb(94, 82, 82);
}

.wrapper {
  max-width: 450px;
  width: 90%;
}
.details {
  flex-direction: column;
  width: 100%;

  * {
    display: flex;
    width: 100%;

    * {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3px;
      padding-right: 25px;
      border-right: none;
      color: rgb(39, 37, 37);

      * {
        border: none;
      }
    }
  }
}

.sec-one,
.sec-two,
.sec-three {
  * {
    border-bottom: none;
    border-right: 1px solid rgb(94, 82, 82);

    * {
      border-right: none;
    }
  }
  :nth-child(2) {
    border-left: none;
  }
}

.book {
  button {
    border: none;
    border-radius: 5px;
    background-color: orangered;
    color: #fff;
    margin-top: 10px;
    padding: 10px 26px;
    transition: all 0.3s;
  }

  button:hover {
    transform: translateY(-2px);
    transition: all 0.3s;
  }
}
