.mainn {
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 2rem;
}

.wrapper {
  padding-top: 4.5rem;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  // align-items: center;

  .left {
    width: 50%;

    .first,
    .second {
      padding: 0 1rem;
    }

    h6,
    h2,
    h4 {
      color: orangered;
    }

    p {
      color: #fff;
    }

    .icon {
      background-color: rgba(255, 68, 0, 0.644);
      color: #fff;
      padding: 10px;
      margin: 0 14px 14px 0;
      border-radius: 50%;
    }

    .down {
      span {
        color: #fff;
        font-size: 24px;
      }
    }
  }

  hr {
    color: #fff;
  }

  .right {
    display: flex;
    justify-content: center;
    width: 45%;
    // margin-top: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: 100%;
  }
}
@media screen and (max-width: 600px) {
  .mainn {
    background-color: rgba(0, 0, 0, 0.8);

    padding-bottom: 1rem;
  }

  .wrapper {
    display: block;
    height: 100%;
    padding-top: 7rem;

    .left,
    .right {
      width: 100%;
    }
  }
}
