.seat-wrapper {
  width: 350px !important;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffffee;

  .seats {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
  }

  .selected {
    background-color: green;
    color: #fff;
  }

  .booked-seat {
    background-color: orangered;
    color: #fff;
  }
}

.btn {
  button {
    border: none;
    border-radius: 5px;
    background-color: orangered;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 30px;
    transition: all 0.3s;
  }

  button:hover {
    transform: translateY(-2px);
    transition: all 0.3s;
  }
}

@media screen and (max-width: 600px) {
  .seat-wrapper {
    width: 100%;
  }
}
